

<div class="container" id="con">
  <div class="table100">
    <div *ngFor="let d of dict | keyvalue">
      <p class="text-center u-name-container">
        <a class="u-name" href="/University/{{d.key}}">{{d.value[0].universityNameRu}} </a>
      </p>
      
      <table class="">
        <thead>
          <tr class="table100-head">
            <th>{{'N'}}</th>
            <th>{{tableHeader.code}}</th>
            <th>{{tableHeader.direction}}</th>
            <th>{{tableHeader.plan}} (г/к)</th>
            <th>{{tableHeader.pass}} (г/к)</th>
            <th>{{tableHeader.accept}}</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let fac of d.value;let i=index">
            <td>{{i+1}}</td>
            <td >{{fac.code}}</td>
            <td style="text-align:left">{{fac.facultyNameRu}}</td>
            <td>
              <span>
                {{fac.grant}} /
              </span>
              <span>
               {{fac.contract}}
              </span>
            </td>
            <td>
              <span>
                {{fac.grantPass}} /
              </span>
              <span>
                {{fac.contractPass}}
              </span>
            </td>

            <td>{{fac.asFirst}}/{{fac.asSecond}}/{{fac.asThird}}</td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>
</div>
