<!-- ru -->
<div *ngIf="currentLanguage=='ru';else uzDiv">
  <div class="container" id="con" *ngIf="isNoResult;else nofacultyRu">
    <div class="table100">
      <div *ngFor="let d of dict | keyvalue">
        <p class="text-center u-name-container">
          <a class="u-name" href="UniversityList/University/{{d.key}}">{{d.value[0].universityNameRu}} </a>
        </p>
        <table class="exo2">
          <thead>
            <tr class="table100-head">
              <th>{{'N'}}</th>
              <th>{{tableHeader.code}}</th>
              <th>{{tableHeader.direction}}</th>
              <th>{{tableHeader.plan}} (г/к)</th>
              <th>{{tableHeader.pass}} (г/к)</th>
              <th>{{tableHeader.accept}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fac of d.value;let i=index">
              <td>{{i+1}}</td>
              <td>{{fac.code}}</td>
              <td style="text-align:left">{{fac.facultyNameRu}}</td>
              <td class="number">
                <span>
                  {{fac.grant}} /
                </span>
                <span>
                  {{fac.contract}}
                </span>
              </td>
              <td class="number">
                <span>
                  {{fac.grantPass}} /
                </span>
                <span>
                  {{fac.contractPass}}
                </span>
              </td>

              <td class="number">{{fac.asFirst}}/{{fac.asSecond}}/{{fac.asThird}}</td>
            </tr>
          </tbody>
           
        </table>
      </div>
    </div>
  </div>
</div>

<!-- end ru -->
<!-- uz -->
<ng-template #uzDiv>
  <div class="container" id="con" *ngIf="isNoResult;else nofacultyUz">
    <div class="table100">
      <div *ngFor="let d of dict | keyvalue">
        <p class="text-center u-name-container">
          <a class="u-name" href="UniversityList/University/{{d.key}}">{{d.value[0].universityNameUz}} </a>
        </p>
        <table class="exo2">
          <thead>
            <tr class="table100-head">
              <th>{{'N'}}</th>
              <th>{{tableHeader.code}}</th>
              <th>{{tableHeader.direction}}</th>
              <th>{{tableHeader.plan}}</th>
              <th>{{tableHeader.pass}}</th>
              <th>{{tableHeader.accept}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fac of d.value;let i=index">
              <td>{{i+1}}</td>
              <td>{{fac.code}}</td>
              <td style="text-align:left">{{fac.facultyNameUz}}</td>
              <td class="number">
                <span>
                  {{fac.grant}} /
                </span>
                <span>
                  {{fac.contract}}
                </span>
              </td>
              <td class="number">
                <span>
                  {{fac.grantPass}} /
                </span>
                <span>
                  {{fac.contractPass}}
                </span>
              </td>

              <td class="number">{{fac.asFirst}}/{{fac.asSecond}}/{{fac.asThird}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #nofacultyRu>
  <h1 class="mt-4 text-center" style="color:cyan">Данные отсутствуют</h1>
</ng-template>

<ng-template #nofacultyUz>
  <h1 class="mt-4 text-center" style="color:cyan">Ma'lumot yo'q</h1>
</ng-template>

