<style>
  .quiz-container {
    margin-top: 10vh;
  }
  .qv-result {
    margin-top: 50px;
  }

    .qv-result button {
      margin: 15px auto;
    }
</style>

<div [class.d-none]="canBuildQuiz">
  <div class="inner-container">
    <div class="d-flex flex-wrap flex-row justify-content-center">
      <div class="item-text">
        <div  [className]="order>=1 ? 'btn btn-info color-black':'item-btn item-btn-sub item-text'">
          {{(repo.currentSubject.firstSubject | validName) || ('firstBlok' | translate)}}
        </div>
      </div>
      <div class="item-text">
        <div [className]="order>=2 ? 'btn btn-info color-black':'item-btn item-btn-sub item-text'">
          {{(repo.currentSubject.secondSubject | validName) || ('secondBlok' | translate)}}
        </div>
      </div>
    </div>
    <div style="margin-top:5px;margin-bottom:5px;"></div>
    <div class="d-flex flex-wrap flex-row justify-content-center">
      <div [class.d-none]="order<2">
        <div class="arr-container">
          <div class="quiz-lang">
            <button class="btn btn-primary" [className]="isThisLanguage(1) ? 'btn btn-info color-black':'item-btn item-btn-sub item-text cursor-pointer'"
                    (click)="selectLanguage(1)">
              O'zbekcha
            </button>

            <button class="btn btn-primary" [className]="isThisLanguage(2) ? 'btn btn-info color-black':'item-btn item-btn-sub item-text cursor-pointer'"
                    (click)="selectLanguage(2)">
              Русский
            </button>
          </div>
          <p>{{'Language' | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <button id="resetBtn" class="item-btn item-btn-clear d-block" style="margin:0 auto" (click)="clear()">{{'Reset' | translate}}</button>
  <div [className]="order==0 ? 'd-block' : 'd-none'"><p class="helper yura">{{'HELP1' | translate}}</p></div>
  <div [className]="order==1 ? 'd-block' : 'd-none'"><p class="helper yura">{{'HELP2' | translate}}</p></div>
  <div [class.d-none]="currentSubject.isFilled()">
    <div id="subjectDiv" style="margin-top:50px" class="d-flex justify-content-center flex-wrap">

      <button class="btn btn-info m-1 color-black" *ngFor="let subject of initialSubjects" id="code" (click)="selectSubject(subject)">
        {{subject | validName}}
      </button>
    </div>
  </div>
  <div style="margin-top:10px;margin-bottom:10px;"></div>

  <button [className]="canBegin() ? 'item-btn item-btn-clear d-block':'d-none'" id="submitBtm"
          class="item-btn item-btn-clear" style="margin:0 auto" (click)="beginTest()">
    {{'BeginTest' | translate}}
  </button>

  
</div>

<div class="quiz-container">
  <quiz-view *ngIf="canBuildQuiz" (isQuizEndedOutput)="getStatus()" (qResultOutput)="getQuizResult($event)"></quiz-view>
  <div class="qv-result" [class.d-none]="!isQuizEnded">
    <button class="btn btn-info color-black d-block" (click)="retry()">{{'Retry' | translate}}</button>
    <button class="btn btn-info color-black d-block" (click)="getUniversities()">{{'UniversityList' | translate}}</button>
  </div>
  <div [class.d-none]="!repo.buildFilter.canBuild">
    <div class="d-flex flex-wrap flex-row justify-content-center">
      <div>
        <div class="arr-container">
          <div id="eduDiv">
            <button [className]="isThisEducationType(e.code) ? 'btn btn-info color-black':'item-btn item-btn-sub item-text cursor-pointer'" *ngFor="let e of educationTypes" (click)="selectEducationType(e)">
              {{e | validName}}
            </button>
          </div>
          <p>{{'EduType' | translate}}</p>
        </div>
      </div>
      <div>
        <div class="arr-container">
          <div id="langDiv">
            <button id="{{l.code}}" [className]="isThisLanguage(l.code) ? 'btn btn-info color-black':'item-btn item-btn-sub item-text cursor-pointer'"
                    class="btn btn-primary" *ngFor="let l of languages" (click)="selectLanguage2(l)">
              {{l | validName}}
            </button>
          </div>
          <p>{{'Language' | translate}}</p>
        </div>
      </div>
    </div>

    <table-builder></table-builder>


  </div>

  <div [class.d-none]="!hasResult">
    <div class="text-center" style="font-size:18px;">
      <p>{{'NoOneUniversity' | translate}}</p>
    </div>
  </div>
</div>
