body {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    font-size: 14px;
    
}

.number {
    font-family: 'Chakra Petch', sans-serif;
}

.exo2 {
    font-family: 'Exo 2', sans-serif;
}

.yura {
    font-family: 'Jura', sans-serif;
}

.bg-transparent-noimportant{
    background-color:transparent;
}
.min-width500{
    min-width:500px;
}

.cursor-poiter{
    cursor:pointer;
}

/*HEDER*/

.bg-header {
    background: #03132b;
}
.body-bg {
    background: -webkit-linear-gradient(50deg, #09203f,#485563);
}

.input-lang:hover {
    background: #17a2b8;
    color: black;
}
.input-lang-selected {
    background: #17a2b8;
    color: black;
}
/*BODY*/
.body-container {
    max-width: 1200px;
    margin: 10px auto;
}

/* Caption text */
.text {
    color: #5bc3ff;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 90%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.img-dif {
    font-size: 25px;
    text-align: center;
    color: #03132b;
}
.card-bg {
    background: #dde3ea;
    box-shadow: 0px 2px 5px 2px #03132b;
    padding: 10px;
}

.btn-about {
    margin: 0 auto;
    background: #325fa2;
    color:white;
}
    .btn-about:hover {
        color: black;
    }

    /*FOOTER*/

.footer {
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #03132b;
    color: white;
    margin-top: 40px
}

#footer-element-container a{
    margin:0 10px;
    padding:2px;
}
.icon{
    font-size:20px;
}


/*ANGULAR*/

#containerCity ul li{
    font-size:13px;
    padding-right:5px;
}

.ul-li:hover {
    background: #00ffe785;
}

.inner-container {
    padding: 5px;
    margin: 5px;
}

.item-text {
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.item-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
}



.item-btn-sub {
    background-color: #007bff00;
    border-color: #17a2b8;
}

.item-btn-city {
    background-color: #00ffe785;
    border-color: #17a2b8;
}

.item-btn-clear {
    background-color: #007bff00;
    border-color: #17a2b8;
}

    .item-btn-clear:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .item-btn-clear:hover {
        background-color: #29329cf5;
        border-color: #29329cf5;
    }

    .item-btn-clear:not(:disabled):not(.disabled):active {
        background-color: #29329cf5;
        border-color: #29329cf5;
    }


.arr-container {
    border: 1px solid #17a2b8;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

    .arr-container div button {
        margin: 2px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .arr-container p {
        display: block;
        text-align: center;
        margin: 0;
        padding-right: 3px;
        padding-left: 3px;
        font-size: 12px;
    }


.color-white {
    color: white;
}

.color-black {
    color: black;
}

.list-group-item-dark {
    background-color: #00000066;
    color:white;
}

.hidden-select{
    display:none;
}

.bg-u{
    background-image:url('/images/u.jpg')
}



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/


/* ------------------------------------ */
a {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
    }


.u-name {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.u-name-container {
    margin: 4px;
    padding: 4px;
}

.u-name:hover {
    color: red;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #1f59da;
    background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
    background: -o-linear-gradient(45deg, #4158d0, #c850c0);
    background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
    background: linear-gradient(45deg, #4158d0, #c850c0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

    table * {
        position: relative;
    }

    table td, table th {
        padding-left: 8px;
    }

        table td:last-child, th:last-child {
            padding-right: 8px;
        }

        table td:nth-child(4), td:nth-child(4) {
            padding-left: 0;
        }

        table td:nth-child(5), td:nth-child(5) {
            padding-left: 0;
        }


    table thead tr {
        height: 60px;
        background: #1f59da;
    }

    table tbody tr {
        height: 50px;
    }

        table tbody tr:last-child {
            border: 0;
        }

    table td, table th {
        text-align: center;
    }

        table td.l, table th.l {
            text-align: center;
        }

        table td.c, table th.c {
            text-align: center;
        }

        table td.r, table th.r {
            text-align: center;
        }

            table td.r:nth-child(3) {
                text-align: left;
            }


.table100-head th {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr {
    font-size: 13px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
}

    tbody tr:hover {
        color: #555555;
        background-color: #f5f5f5;
        cursor: pointer;
    }

.column1 {
    width: 260px;
    padding-left: 40px;
}

.column2 {
    width: 160px;
}

.column3 {
    width: 245px;
}

.column4 {
    width: 110px;
    text-align: center;
}

.column5 {
    width: 170px;
    text-align: center;
}

.column6 {
    width: 250px;
    text-align: center;
    padding-right: 62px;
}


