body {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    font-size: 14px;
    
}

.bg-transparent-noimportant{
    background-color:transparent;
}
.min-width500{
    min-width:500px;
}


/*HEDER*/

.bg-header {
    background: #03132b;
}
.body-bg {
    background: -webkit-linear-gradient(50deg, #09203f,#485563);
}
/*BODY*/
.body-container {
    max-width: 1200px;
    margin: 10px auto;
}

/* Caption text */
.text {
    color: #5bc3ff;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 90%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.img-dif {
    font-size: 25px;
    text-align: center;
    color: #03132b;
}
.card-bg {
    background: #dde3ea;
    box-shadow: 0px 2px 5px 2px #03132b;
    padding: 10px;
}

.btn-about {
    margin: 0 auto;
    background: #325fa2;
    color:white;
}
    .btn-about:hover {
        color: black;
    }

    /*FOOTER*/

.footer {
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #03132b;
    color: white;
    margin-top: 40px
}

#footer-element-container a{
    margin:0 10px;
    padding:2px;
}
.icon{
    font-size:20px;
}


/*ANGULAR*/

#containerCity ul li{
    font-size:13px;
    padding-right:5px;
}

.ul-li:hover {
    background: #00ffe785;
}

.inner-container {
    padding: 5px;
    margin: 5px;
}

.item-text {
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.item-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
}



.item-btn-sub {
    background-color: #007bff00;
    border-color: #17a2b8;
}

.item-btn-city {
    background-color: #00ffe785;
    border-color: #17a2b8;
}

.item-btn-clear {
    background-color: #007bff00;
    border-color: #17a2b8;
}

    .item-btn-clear:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .item-btn-clear:hover {
        background-color: #29329cf5;
        border-color: #29329cf5;
    }

    .item-btn-clear:not(:disabled):not(.disabled):active {
        background-color: #29329cf5;
        border-color: #29329cf5;
    }


.arr-container {
    border: 1px solid #17a2b8;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
}

    .arr-container div button {
        margin: 2px;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .arr-container p {
        display: block;
        text-align: center;
        margin: 0;
        padding-right: 3px;
        padding-left: 3px;
        font-size: 12px;
    }


.color-white {
    color: white;
}

.color-black {
    color: black;
}

.list-group-item-dark {
    background-color: #00000066;
    color:white;
}

.hidden-select{
    display:none;
}