body {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin: 0;
    font-size: 14px;
    
}


/*HEDER*/

.bg-header {
    background: #03132b;
}

/*BODY*/
.body-container {
    max-width: 1200px;
    margin: 10px auto;
}

/* Caption text */
.text {
    color: #5bc3ff;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    width: 90%;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.img-dif {
    font-size: 25px;
    text-align: center;
    color: #03132b;
}
.card-bg {
    background: #dde3ea;
    box-shadow: 0px 2px 5px 2px #03132b;
    padding: 10px;
}

.btn-about {
    margin: 0 auto;
    background: #325fa2;
    color:white;
}
    .btn-about:hover {
        color: black;
    }

    /*FOOTER*/

.footer {
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #03132b;
    color: white;
    margin-top: 40px
}

#footer-element-container a{
    margin:0 10px;
    padding:2px;
}
.icon{
    font-size:20px;
}


/*ANGULAR*/
